.App{
  margin: 0 80px;
}

.grn-btn{
  width: 300px;
  background-color: greenyellow;
  padding: 20px;
  font-size: 25px;
}

.list{
  float: left;
}

.add{
  float: right;
}


/* .footer{
  background-color: #c242f4;
  height: 100px;
  position: fixed;
  bottom: 50px;
} */
