
button{
  border-radius: 5px;
}
.grn-btn{
  width: 300px;
  background-color: greenyellow;
  padding: 20px;
  font-size: 25px;
  margin: 5px;
  border-radius: 10px;
}

.little-green-btn{
  background-color: greenyellow;
  padding: 10px;
  margin: 0 5px;
  border-radius: 7px;
}

body{
  background-color: #f8f4f9;
}

h1{
  margin: 120px;
}

 input{
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  font-size: 17px;
}

.add-task input{
  width: 80%;
  height: 35px;

}

textarea{
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  font-size: 18px;

}

.App{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}


.list{
  margin: 0 80px;
  width: 35%;
}

.add{
  margin-right: 80px;
  width: 35%;
}

@media screen and (max-width: 800px) {
  .list, .add {
      width: 80%;
      margin: 0 auto;
  }
}


.footer{
  background-color: #c242f4;
  min-height: 100px;
  clear: both;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 25px;
}

#theBody{
  min-height: 58vh;
}

#loginFormWrapper{
  position: absolute;
  right:20px;
  top: 110px;
  padding: 30px;
  border: 2px solid lightslategray;
  border-radius: 3%;
  background-color: white;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: lightslategray;
  padding: 0 5vw;
  margin-bottom: 150px;
}

nav div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}



.footer ul{
  display: flex;
  flex-direction: column;
  width: 33%;
  text-align: center;
}

li{
  list-style: none;
}



.add-task{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task > *{
  margin: 3%;
  text-align: center;
}



