.grn-btn{
  width: 300px;
  background-color: greenyellow;
  padding: 20px;
  font-size: 25px;
  margin: 5px;
}

body{
  background-color: #f8f4f9;
}

.list{
  float: left;
  margin-left: 80px;
}

.add{
  float: right;
  margin-right: 80px;
}


.footer{
  background-color: #c242f4;
  min-height: 100px;
  clear: both;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

li{
  list-style: none;
}

.little-green-btn{
  background-color: greenyellow;
  padding: 10px;
  margin: 0 5px;
}

